{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://query2.finance.yahoo.com/v7/finance/options/AAPL",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "Y-Rid": [
            "5m91lupidd2qm"
          ],
          "X-Yahoo-Request-Id": [
            "5m91lupidd2qm"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"optionChain\":{\"result\":[{\"underlyingSymbol\":\"AAPL\",\"expirationDates\":[1691712000,1692316800,1692921600,1693526400,1694131200,1694736000,1695340800,1697760000,1700179200,1702598400,1705622400,1710460800,1718928000,1726790400,1734652800,1737072000,1750377600,1766102400],\"strikes\":[50.0,70.0,80.0,85.0,95.0,100.0,105.0,110.0,115.0,120.0,125.0,130.0,135.0,140.0,145.0,150.0,155.0,160.0,162.5,165.0,167.5,170.0,172.5,175.0,177.5,180.0,182.5,185.0,187.5,190.0,192.5,195.0,197.5,200.0,202.5,205.0,207.5,210.0,212.5,215.0,217.5,220.0,222.5,225.0,230.0,235.0,240.0,245.0,250.0,255.0,260.0,265.0],\"hasMiniOptions\":false,\"quote\":{\"language\":\"en-US\",\"region\":\"US\",\"quoteType\":\"EQUITY\",\"typeDisp\":\"Equity\",\"quoteSourceName\":\"Nasdaq Real Time Price\",\"triggerable\":true,\"customPriceAlertConfidence\":\"HIGH\",\"currency\":\"USD\",\"exchange\":\"NMS\",\"shortName\":\"Apple Inc.\",\"longName\":\"Apple Inc.\",\"messageBoardId\":\"finmb_24937\",\"exchangeTimezoneName\":\"America/New_York\",\"exchangeTimezoneShortName\":\"EDT\",\"gmtOffSetMilliseconds\":-14400000,\"market\":\"us_market\",\"esgPopulated\":false,\"marketState\":\"REGULAR\",\"regularMarketChangePercent\":0.23912849,\"regularMarketPrice\":178.155,\"tradeable\":false,\"cryptoTradeable\":false,\"dividendRate\":0.96,\"trailingAnnualDividendYield\":0.0052326564,\"dividendYield\":0.54,\"epsTrailingTwelveMonths\":5.89,\"epsForward\":6.59,\"epsCurrentYear\":6.07,\"priceEpsCurrentYear\":29.35008,\"sharesOutstanding\":15728700416,\"bookValue\":3.852,\"fiftyDayAverage\":187.4318,\"fiftyDayAverageChange\":-9.276794,\"fiftyDayAverageChangePercent\":-0.04949424,\"twoHundredDayAverage\":160.6961,\"twoHundredDayAverageChange\":17.458893,\"twoHundredDayAverageChangePercent\":0.1086454,\"marketCap\":2802146607104,\"forwardPE\":27.034142,\"priceToBook\":46.25,\"sourceInterval\":15,\"exchangeDataDelayedBy\":0,\"averageAnalystRating\":\"2.0 - Buy\",\"firstTradeDateMilliseconds\":345479400000,\"priceHint\":2,\"regularMarketChange\":0.42500305,\"regularMarketTime\":1691781973,\"regularMarketDayHigh\":178.62,\"regularMarketDayRange\":\"176.55 - 178.62\",\"regularMarketDayLow\":176.55,\"regularMarketVolume\":38625797,\"regularMarketPreviousClose\":177.73,\"bid\":177.91,\"ask\":177.91,\"bidSize\":8,\"askSize\":10,\"fullExchangeName\":\"NasdaqGS\",\"financialCurrency\":\"USD\",\"regularMarketOpen\":177.32,\"averageDailyVolume3Month\":57196990,\"averageDailyVolume10Day\":63012120,\"fiftyTwoWeekLowChange\":53.985,\"fiftyTwoWeekLowChangePercent\":0.43476686,\"fiftyTwoWeekRange\":\"124.17 - 198.23\",\"fiftyTwoWeekHighChange\":-20.074997,\"fiftyTwoWeekHighChangePercent\":-0.101271234,\"fiftyTwoWeekLow\":124.17,\"fiftyTwoWeekHigh\":198.23,\"fiftyTwoWeekChangePercent\":3.4108043,\"dividendDate\":1692230400,\"earningsTimestamp\":1691096400,\"earningsTimestampStart\":1698231540,\"earningsTimestampEnd\":1698667200,\"trailingAnnualDividendRate\":0.93,\"trailingPE\":30.24703,\"displayName\":\"Apple\",\"symbol\":\"AAPL\"},\"options\":[{\"expirationDate\":1691712000,\"hasMiniOptions\":false,\"calls\":[{\"contractSymbol\":\"AAPL230811C00050000\",\"strike\":50.0,\"currency\":\"USD\",\"lastPrice\":127.45,\"change\":-0.75,\"percentChange\":-0.5850234,\"volume\":44,\"openInterest\":1,\"bid\":127.85,\"ask\":127.95,\"contractSize\":\"REGULAR\",\"expiration\":1691712000,\"lastTradeDate\":1691773291,\"impliedVolatility\":1.0000000000000003E-5,\"inTheMoney\":true},{\"contractSymbol\":\"AAPL230811C00080000\",\"strike\":80.0,\"currency\":\"USD\",\"lastPrice\":97.05,\"change\":-17.5,\"percentChange\":-15.277171,\"volume\":28,\"openInterest\":0,\"bid\":97.95,\"ask\":98.0,\"contractSize\":\"REGULAR\",\"expiration\":1691712000,\"lastTradeDate\":1691761233,\"impliedVolatility\":1.0000000000000003E-5,\"inTheMoney\":true},{\"contractSymbol\":\"AAPL230811C00085000\",\"strike\":85.0,\"currency\":\"USD\",\"lastPrice\":92.05,\"change\":-16.939995,\"percentChange[...]
