{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://query2.finance.yahoo.com/v6/finance/quoteSummary/AAPL?modules=price",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "Y-Rid": [
            "7njmc3pidl2s1"
          ],
          "X-Yahoo-Request-Id": [
            "7njmc3pidl2s1"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"quoteSummary\":{\"symbols\":null,\"result\":[{\"price\":{\"maxAge\":1,\"preMarketChangePercent\":{\"raw\":7.87442E-4,\"fmt\":\"0.08%\"},\"preMarketChange\":{\"raw\":0.139999,\"fmt\":\"0.14\"},\"preMarketTime\":1692019797,\"preMarketPrice\":{\"raw\":177.93,\"fmt\":\"177.93\"},\"preMarketSource\":\"FREE_REALTIME\",\"postMarketChangePercent\":{\"raw\":-2.786306E-4,\"fmt\":\"-0.03%\"},\"postMarketChange\":{\"raw\":-0.05000305,\"fmt\":\"-0.05\"},\"postMarketTime\":1692044153,\"postMarketPrice\":{\"raw\":179.41,\"fmt\":\"179.41\"},\"postMarketSource\":\"FREE_REALTIME\",\"regularMarketChangePercent\":{\"raw\":0.00939318,\"fmt\":\"0.94%\"},\"regularMarketChange\":{\"raw\":1.6700134,\"fmt\":\"1.67\"},\"regularMarketTime\":1692043201,\"priceHint\":{\"raw\":2,\"fmt\":\"2\",\"longFmt\":\"2\"},\"regularMarketPrice\":{\"raw\":179.46,\"fmt\":\"179.46\"},\"regularMarketDayHigh\":{\"raw\":179.69,\"fmt\":\"179.69\"},\"regularMarketDayLow\":{\"raw\":177.305,\"fmt\":\"177.30\"},\"regularMarketVolume\":{\"raw\":40729758,\"fmt\":\"40.73M\",\"longFmt\":\"40,729,758.00\"},\"averageDailyVolume10Day\":{},\"averageDailyVolume3Month\":{},\"regularMarketPreviousClose\":{\"raw\":177.79,\"fmt\":\"177.79\"},\"regularMarketSource\":\"FREE_REALTIME\",\"regularMarketOpen\":{\"raw\":177.97,\"fmt\":\"177.97\"},\"strikePrice\":{},\"openInterest\":{},\"exchange\":\"NMS\",\"exchangeName\":\"NasdaqGS\",\"exchangeDataDelayedBy\":0,\"marketState\":\"POST\",\"quoteType\":\"EQUITY\",\"symbol\":\"AAPL\",\"underlyingSymbol\":null,\"shortName\":\"Apple Inc.\",\"longName\":\"Apple Inc.\",\"currency\":\"USD\",\"quoteSourceName\":\"Nasdaq Real Time Price\",\"currencySymbol\":\"$\",\"fromCurrency\":null,\"toCurrency\":null,\"lastMarket\":null,\"volume24Hr\":{},\"volumeAllCurrencies\":{},\"circulatingSupply\":{},\"marketCap\":{\"raw\":2822672744448,\"fmt\":\"2.82T\",\"longFmt\":\"2,822,672,744,448.00\"}}}],\"error\":null}}"
        }
      },
      "recorded_at": "Mon, 14 Aug 2023 20:16:01 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://query2.finance.yahoo.com/v6/finance/quoteSummary/AAPL?modules=defaultKeyStatistics",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "Y-Rid": [
            "5tnmdd5idl322"
          ],
          "X-Yahoo-Request-Id": [
            "5tnmdd5idl322"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"quoteSummary\":{\"symbols\":null,\"result\":[{\"defaultKeyStatistics\":{\"maxAge\":1,\"priceHint\":{\"raw\":2,\"fmt\":\"2\",\"longFmt\":\"2\"},\"enterpriseValue\":{\"raw\":2826408034304,\"fmt\":\"2.83T\",\"longFmt\":\"2,826,408,034,304\"},\"forwardPE\":{\"raw\":27.23217,\"fmt\":\"27.23\"},\"profitMargins\":{\"raw\":0.24681,\"fmt\":\"24.68%\"},\"floatShares\":{\"raw\":15617347029,\"fmt\":\"15.62B\",\"longFmt\":\"15,617,347,029\"},\"sharesOutstanding\":{\"raw\":15728700416,\"fmt\":\"15.73B\",\"longFmt\":\"15,728,700,416\"},\"sharesShort\":{\"raw\":105460144,\"fmt\":\"105.46M\",\"longFmt\":\"105,460,144\"},\"sharesShortPriorMonth\":{\"raw\":117870227,\"fmt\":\"117.87M\",\"longFmt\":\"117,870,227\"},\"sharesShortPreviousMonthDate\":{\"raw\":1688083200,\"fmt\":\"2023-06-30\"},\"dateShortInterest\":{\"raw\":1690761600,\"fmt\":\"2023-07-31\"},\"sharesPercentSharesOut\":{\"raw\":0.0067000003,\"fmt\":\"0.67%\"},\"heldPercentInsiders\":{\"raw\":7.1999995E-4,\"fmt\":\"0.07%\"},\"heldPercentInstitutions\":{\"raw\":0.61317,\"fmt\":\"61.32%\"},\"shortRatio\":{\"raw\":2.05,\"fmt\":\"2.05\"},\"shortPercentOfFloat\":{\"raw\":0.0068,\"fmt\":\"0.68%\"},\"beta\":{\"raw\":1.286802,\"fmt\":\"1.29\"},\"impliedSharesOutstanding\":{\"raw\":15728700416,\"fmt\":\"15.73B\",\"longFmt\":\"15,728,700,416\"},\"morningStarOverallRating\":{},\"morningStarRiskRating\":{},\"category\":null,\"bookValue\":{\"raw\":3.852,\"fmt\":\"3.85\"},\"priceToBook\":{\"raw\":46.588787,\"fmt\":\"46.59\"},\"annualReportExpenseRatio\":{},\"ytdReturn\":{},\"beta3Year\":{},\"totalAssets\":{},\"yield\":{},\"fundFamily\":null,\"fundInceptionDate\":{},\"legalType\":null,\"threeYearAverageReturn\":{},\"fiveYearAverageReturn\":{},\"priceToSalesTrailing12Months\":{},\"lastFiscalYearEnd\":{\"raw\":1663977600,\"fmt\":\"2022-09-24\"},\"nextFiscalYearEnd\":{\"raw\":1695513600,\"fmt\":\"2023-09-24\"},\"mostRecentQuarter\":{\"raw\":1688169600,\"fmt\":\"2023-07-01\"},\"earningsQuarterlyGrowth\":{\"raw\":0.023,\"fmt\":\"2.30%\"},\"revenueQuarterlyGrowth\":{},\"netIncomeToCommon\":{\"raw\":94760001536,\"fmt\":\"94.76B\",\"longFmt\":\"94,760,001,536\"},\"trailingEps\":{\"raw\":5.89,\"fmt\":\"5.89\"},\"forwardEps\":{\"raw\":6.59,\"fmt\":\"6.59\"},\"pegRatio\":{\"raw\":4.61,\"fmt\":\"4.61\"},\"lastSplitFactor\":\"4:1\",\"lastSplitDate\":{\"raw\":1598832000,\"fmt\":\"2020-08-31\"},\"enterpriseToRevenue\":{\"raw\":7.362,\"fmt\":\"7.36\"},\"enterpriseToEbitda\":{\"raw\":22.802,\"fmt\":\"22.80\"},\"52WeekChange\":{\"raw\":0.026560426,\"fmt\":\"2.66%\"},\"SandP52WeekChange\":{\"raw\":0.038842082,\"fmt\":\"3.88%\"},\"lastDividendValue\":{\"raw\":0.24,\"fmt\":\"0.24\"},\"lastDividendDate\":{\"raw\":1691712000,\"fmt\":\"2023-08-11\"},\"lastCapGain\":{},\"annualHoldingsTurnover\":{}}}],\"error\":null}}"
        }
      },
      "recorded_at": "Mon, 14 Aug 2023 20:19:14 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}