{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://query2.finance.yahoo.com/v6/finance/quoteSummary/AAPL?modules=quoteType",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "Y-Rid": [
            "0jdj131idl4hp"
          ],
          "X-Yahoo-Request-Id": [
            "0jdj131idl4hp"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"quoteSummary\":{\"symbols\":null,\"result\":[{\"quoteType\":{\"exchange\":\"NMS\",\"quoteType\":\"EQUITY\",\"symbol\":\"AAPL\",\"underlyingSymbol\":\"AAPL\",\"shortName\":\"Apple Inc.\",\"longName\":\"Apple Inc.\",\"firstTradeDateEpochUtc\":345479400,\"timeZoneFullName\":\"America/New_York\",\"timeZoneShortName\":\"EDT\",\"uuid\":\"8b10e4ae-9eeb-3684-921a-9ab27e4d87aa\",\"messageBoardId\":\"finmb_24937\",\"gmtOffSetMilliseconds\":-14400000,\"maxAge\":1}}],\"error\":null}}"
        }
      },
      "recorded_at": "Mon, 14 Aug 2023 20:44:41 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}