{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://query2.finance.yahoo.com/v6/finance/quoteSummary/AAPL?modules=price",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "Y-Rid": [
            "4lil3vlidl261"
          ],
          "X-Yahoo-Request-Id": [
            "4lil3vlidl261"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"quoteSummary\":{\"symbols\":null,\"result\":[{\"price\":{\"maxAge\":1,\"preMarketChangePercent\":{\"raw\":7.87442E-4,\"fmt\":\"0.08%\"},\"preMarketChange\":{\"raw\":0.139999,\"fmt\":\"0.14\"},\"preMarketTime\":1692019797,\"preMarketPrice\":{\"raw\":177.93,\"fmt\":\"177.93\"},\"preMarketSource\":\"FREE_REALTIME\",\"postMarketChangePercent\":{\"raw\":0.0,\"fmt\":\"0.00%\"},\"postMarketChange\":{\"raw\":0.0,\"fmt\":\"0.00\"},\"postMarketTime\":1692043456,\"postMarketPrice\":{\"raw\":179.46,\"fmt\":\"179.46\"},\"postMarketSource\":\"FREE_REALTIME\",\"regularMarketChangePercent\":{\"raw\":0.00939318,\"fmt\":\"0.94%\"},\"regularMarketChange\":{\"raw\":1.6700134,\"fmt\":\"1.67\"},\"regularMarketTime\":1692043201,\"priceHint\":{\"raw\":2,\"fmt\":\"2\",\"longFmt\":\"2\"},\"regularMarketPrice\":{\"raw\":179.46,\"fmt\":\"179.46\"},\"regularMarketDayHigh\":{\"raw\":179.69,\"fmt\":\"179.69\"},\"regularMarketDayLow\":{\"raw\":177.305,\"fmt\":\"177.30\"},\"regularMarketVolume\":{\"raw\":40729758,\"fmt\":\"40.73M\",\"longFmt\":\"40,729,758.00\"},\"averageDailyVolume10Day\":{},\"averageDailyVolume3Month\":{},\"regularMarketPreviousClose\":{\"raw\":177.79,\"fmt\":\"177.79\"},\"regularMarketSource\":\"FREE_REALTIME\",\"regularMarketOpen\":{\"raw\":177.97,\"fmt\":\"177.97\"},\"strikePrice\":{},\"openInterest\":{},\"exchange\":\"NMS\",\"exchangeName\":\"NasdaqGS\",\"exchangeDataDelayedBy\":0,\"marketState\":\"POST\",\"quoteType\":\"EQUITY\",\"symbol\":\"AAPL\",\"underlyingSymbol\":null,\"shortName\":\"Apple Inc.\",\"longName\":\"Apple Inc.\",\"currency\":\"USD\",\"quoteSourceName\":\"Nasdaq Real Time Price\",\"currencySymbol\":\"$\",\"fromCurrency\":null,\"toCurrency\":null,\"lastMarket\":null,\"volume24Hr\":{},\"volumeAllCurrencies\":{},\"circulatingSupply\":{},\"marketCap\":{\"raw\":2822672744448,\"fmt\":\"2.82T\",\"longFmt\":\"2,822,672,744,448.00\"}}}],\"error\":null}}"
        }
      },
      "recorded_at": "Mon, 14 Aug 2023 20:04:17 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}